$button : #436372;
$section-title: #191919;
$item-title: #243f4d;
$default: #262626;

%DMSans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%DMSans-700 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%Rubik-Medium{
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}
%Rubik-Regular{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}