@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 45px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;

  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    color: $nav;
  }
}

.user-nav {
  display: flex;

  &__inner {
    display: flex;
    min-width: 178px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fcd7b6;
    border-radius: 4dvw;
    margin: 0 20px;
  }

  &__link {
    position: relative;
  }

  &__num {
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 16px;
    top: -8px;
    right: -9px;
  }

}

.container-small {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

}

.footer-top {
  display: flex;
  padding: 75px 0;
  border-bottom: 1px solid #dae4e9;
  color: $list;
  @extend %Rubik-400;

  &__item-adress {
    width: 200px;
    margin-right: 100px;
  }

  &__item-nav {
    width: 170px;
    margin-right: 100px;
  }

  &__item-form {
    max-width: 270px;
    width: 100%;
  }

  &__logo-img {
    margin-bottom: 25px;
  }

  &__item-link {
    font-size: 14px;
    line-height: 32px;
    display: block;
    color: $list;
  }

  &__item-link+.footer-top__item-link {
    margin-top: 20px;
  }

  &__item-title {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 21px;
    padding-top: 15px;
    color: $nav;
  }

  &__list-item+.footer-top__list-item {
    margin-top: 16px;
  }

  &__list-link {
    font-size: 14px;
    line-height: 32px;
    color: $list
  }

  &__item-text {
    margin-bottom: 33px;
  }

  &__form-input {
    width: 170px;
    border: none;
    padding: 5px 5px;
    background-color: $bg;

    &::placeholder {
      font-size: 12px;
      color: $item-title;
      line-height: 20px;
    }
  }

  &__form-btn {
   @extend %btn;

  }
}

.footer-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  color: $list;
  font-size: 14px;
  @extend %Rubik-400;
  align-items: center;


  &__nav-link {
    color: $list;
    background-color: transparent;
    border: none;
    padding: 0 15px;
    line-height: 16px;
  }

  &__nav-link+.footer-bottom__nav-link {
    border: none;
    border-left: 2px solid $list;
    padding: 0 15px;
  }
}



.top-slider {
  &__inner {
    background-image: url(../images/slidertop-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 820px;

  }

  &__item {
    display: flex !important;
    padding: 240px 0 0 300px;
  }

  &__content {
    margin-right: 90px;
    align-items: center;
  }

  &__title {
    color: $item-title;
    font-size: 72px;
    line-height: 70px;
    max-width: 470px;
    @extend %Rubik-500;
    margin-bottom: 35px;
  }

  &__text {
    display: block;
    color: $nav;
    @extend %Rubik-500;
    width: 375px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }

  &__button {
    @extend %btn;
    padding: 25px 130px 25px 35px;
    background-color: $button;
    position: relative;

    &:before {
      content: url(../images/icons/arrows-button.png);
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 150px;

    li {
      padding: 0 5px;
      line-height: 10px;

      button {
        color: $item-title;
        padding: 0;
        font-size: 10px;
        background-color: rgba(255, 255, 255, .3);
        height: 27px;
        width: 27px;
        border: 1px solid transparent;
        border-radius: 50%;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}

.slider-top-bottom {
  display: flex;
  justify-content: space-between;
  background-color: $accent;
  margin-bottom: 60px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 140px;
  }

  &__item+.slider-top-bottom__item {
    border-left: 1px solid #e8e4df;
  }

  &__img {
    margin-right: 26px;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }

  &__text {
    @extend %DMSans-500;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}

.products-top {
  text-align: center;


  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 40px;
    margin-bottom: 165px;
  }


  &__item {
    display: flex;
    flex-direction: column;
    width: 270px;
    width: 100%;
    height: 380px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    align-items: center;
    padding: 0 5px;
    justify-content: space-around;

  }

  &__descr-title {
    @extend %DMSans-500;
    color: $item-title;
    font-size: 16px;
    line-height: 40px;
  }

  &__descr-price {
    @extend %DMSans-700;
    color: $button;
    font-size: 16px;
    line-height: 40px;
  }

}

.products-bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  &__item {
    display: flex;
    background-color: $bg;
    position: relative;
    width: 870px;
    height: 390px;

  }

  &__item+.products-bottom__item {
    margin-left: 30px;
  }

  &__img {
    position: absolute;
    bottom: 85px;
    left: 140px;
  }

  &__wrapper {
    padding-left: 385px;
    margin-top: 85px;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 26px;
    line-height: 32px;
    color: $item-title;
    margin-bottom: 15px;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $item-title;
    width: 340px;
    margin-bottom: 30px;
  }

  &__btn {
    display: inline-block;
    @extend %Rubik-500;
    border: solid 1px #b3b7b5;
    color: $nav;
    font-size: 15px;
    line-height: 12px;
    padding: 25px 130px 25px 35px;
    background-color: transparent;
    position: relative;

    &:before {
      content: url(../images/icons/arrows-btn-accent.png);
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.design-inner {
  text-align: center;
  margin-bottom: 100px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px 30px;
  }

  &__item {
    position: relative;
    width: 370px;
    height: 246px;
    text-align: left;
    @extend %DMSans-700;
  }

  &__item-title {
    position: absolute;
    font-size: 20px;
    color: $section-title;
    z-index: 5;
    width: 200px;
    top: 40px;
    left: 35px;

  }

  &__text {
    position: absolute;
    z-index: 5;
    font-size: 16px;
    color: $button;
    left: 35px;
    top: 100px;
  }

  &__img {
    position: absolute;
  }
}

.design-bottom {
  background-image: url(../images/video-bg.jpg);
  height: 501px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;

  &__img:hover {
    border: 14px solid rgba(163, 187, 200, .4);
    border-radius: 50%;
  }
}

.insights {
  &__top {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__link {
    padding-right: 18px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/icons/view-all.svg);
      width: 7px;
      height: 12px;
      top: 8.5px;
      right: 0;
    }

  }

  &__items {
    display: flex;
    justify-content: space-between
  }
  &__item{
    max-width: 370px;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  &__btn{
    position: absolute;
    top: 220px;
    left: 30px;
    @extend %btn;
    padding: 6px 32px;
    border-radius: 45em;
    font-size: 14px;
    line-height: 20px;
    z-index: 1;
  }
    &__descr {
      position: absolute;
      top: 250px;
      max-width: 370px;
      width: 100%;
      background-color: #fff;
      padding: 0 30px 25px;
      
    }
  &__text{
    font-size: 18px;
    max-width: 290px;
    width: 290px;
    padding: 32px 0 15px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__autor{
    @extend %Rubik-400;
    font-size: 12px;
    line-height: 30px;
    padding-top: 20px;
    
    
    span{
      margin-left: 30px;
    }
  }
  
}
.insights-bottom {
  &__inner{
    display: flex;
    justify-content: space-around;
    padding-top: 300px;
    padding-bottom: 85px;
  }
}




@import 'media';